@{
    ViewData["Title"] = "تم الطلب بنجاح";
}

<div class="container text-center mt-5">
    <h2 class="text-success mb-4">✅ تم تنفيذ طلبك بنجاح!</h2>
    <p class="lead">شكراً لشرائك من متجرنا، سيتم تجهيز طلبك في أقرب وقت.</p>

    <a href="@Url.Action("Allproduct", "Product")" class="btn btn-primary mt-4">
        العودة للمتجر
    </a>
</div>